# General
*.log
*.pyc
*.settings
*.venv

# Source
/Source/Util/git_version.py
/Source/Views/app.pyproject.user
/Source/plugins

# Documentation
/Documentation/DoxygenCreator/doxygen-*.windows.x64.bin.zip
/Documentation/DoxygenCreator/doxygen.exe
/Documentation/DoxygenCreator/libclang.dll
/Documentation/DoxygenCreator/plantuml.jar
/Documentation/DoxygenCreator/Output_Doxygen
/Documentation/Installation/installed_packages.txt
/Documentation/Installation/PackageInfos.xlsx
/Documentation/docs/_assets/images/app.ico
/Documentation/docs/_assets/images/favicon.ico
/Documentation/docs/_assets/images/splash.gif
/Documentation/docs/_assets/images/zugferd.svg
/Documentation/public

# Executable
/Executable/build
/Executable/bin
/Executable/ElsterBooks.spec
/Executable/PyInstaller_warnings.txt

# Resources
/Resources/Tools

# Test
/Test/TestData

# Data
/Export
